/* ~~~~~~~~~~ ~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ FONT FAMILY ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~ ~~~~~~~~~~ */
@font-face {
  font-family: "poppinsLight";
  src: url(../font/Poppins/Poppins-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "poppinsRegular";
  src: url(../font/Poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "poppinsSemiBold";
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "poppinsBold";
  src: url(../font/Poppins/Poppins-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "poppinsBlack";
  src: url(../font/Poppins/Poppins-Black.ttf);
  font-style: normal;
}

/* ~~~~~~~~~~ ~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ ALLGEMEIN ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~ ~~~~~~~~~~ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#root,
.wrapper,
.mainContainer {
  min-height: 100vh;
}

body {
  font-family: var(--poppinsRegular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--lightgrey);
  color: var(--darkFont);
}

h1,
h2 {
  font-family: var(--poppinsBold);
}

h3,
h4 {
  font-family: var(--poppinsSemiBold);
}

small {
  font-family: var(--poppinsLight);
}

img {
  user-select: none;
}

button {
  font-family: var(--poppinsRegular);
}

input::placeholder {
  font-size: 16px;
}

:root {
  /* ~~~~~ COLOR (VARIABLEN) ~~~~~ */
  /* ~~~ DEFAULT ~~~ */
  --white: #fff;
  --black: #000;
  --darkgrey: #282c34;
  --lightgrey: #edeff1;
  /* ~~~ MAIN ~~~ */
  --lightBlue: #61a1fb;
  --normalBlue: #3171cc;
  --darkBlue: #0d2e5e;
  /* ~~~ MESSAGE ~~~ */
  --error-msg: rgba(206, 39, 33, 0.9);
  /* WEITERE */
  --input-shadow-color: rgba(34, 154, 223, 0.8);

  /* ~~~~~ TYPOGRAPHY (VARIABLEN) ~~~~~ */
  /* ~~~ FONT SIZE ~~~ */
  --xx-small_Font: 10px;
  --x-small_Font: 12px;
  --smaller_Font: 14px;
  --small_Font: 15px;

  --regular_Font: 16.5px;

  --medium_Font: 17.5px;

  --large_Font: 19px;
  --larger_Font: 24px;
  --x-large_Font: 32px;
  --xx-large_Font: 38px;

  /* ~~~ FONT COLOR ~~~ */
  --darkFont: #13151a;
  --lightFont: #f1f5fc;

  /* ~~~ FONT FAMILY ~~~ */
  --poppinsLight: "poppinsLight";
  --poppinsRegular: "poppinsRegular";
  --poppinsSemiBold: "poppinsSemiBold";
  --poppinsBold: "poppinsBold";
  --poppinsBlack: "poppinsBlack";

  /* ~~~~~ SHADOWS ~~~~~ */
  /* ~~~~~ BOX ~~~~~ */
  --box-shadow-card: 3px 4px 12px -1px rgba(0, 0, 0, 0.15);
  --box-shadow-normal: 2px 3px 10px -1px rgba(0, 0, 0, 0.1);
  /* ~~~~~ TEXT ~~~~~ */

  /* ~~~~~ BORDER RADIUS ~~~~~ */
  --box-card-radius: 12px;
}

.divider {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  height: 1px;
  margin: 8px 0;
  display: inline-block;
}

/* ~~~~~~~~~~ ~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ HEADER ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~ ~~~~~~~~~~ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: var(--box-shadow-normal);
}

.header > .headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  text-decoration: none;
  color: var(--darkBlue);
}

.header > .headerLogo > img {
  height: 38px;
  width: 38px;
}

.header .headerNav {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: flex-end;
}

.header .headerNav a {
  font-size: var(--regular_Font);
  text-decoration: none;
  font-weight: 500;
  color: var(--darkFont);
  position: relative;
  padding: 0px 0.125rem;
  transition: all 0.25s ease;
}

.header .headerNav a.active {
  color: var(--normalBlue);
}

.header .headerNav a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--normalBlue);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease;
}

.header .headerNav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header .headerNav button {
  font-weight: 500;
  color: var(--lightFont);
  position: relative;
  z-index: 1;
  padding: 0.25rem 0.6rem;
  border: none;
  outline: none;
  font-size: var(--regular_Font);
  cursor: pointer;

  position: relative;
}

.header .headerNav button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  transform: translate(0px, 0px);
  border: 1.75px solid transparent;
  transition: transform 0.25s ease, border 0.25s ease;
}

.header .headerNav button:hover::after {
  transform: translate(-4px, -4px);
  border-color: var(--darkBlue);
}

.header .headerNav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: none;
  background-color: var(--normalBlue);
  transition: box-shadow 0.25s ease;
}

.header .headerNav button:hover::before {
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5), 5px 5px 0px var(--white);
}

/* ~~~~~~~~~~ ~~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ PRIVATE ROTE ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~~ ~~~~~~~~~~ */
.privateRouteContainer {
  padding: 1.25rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privateRouteContainer > div {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.privateRouteContainer h2 {
  color: var(--darkFont);
  font-size: var(--x-large_Font);
}

.privateRouteContainer span {
  color: var(--darkFont);
  font-size: var(--medium_Font);
}

.privateRouteContainer a {
  color: var(--normalBlue);
  font-size: var(--medium_Font);
  font-family: var(--poppinsSemiBold);
}

/* ~~~~~~~~~~ ~~~~~~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ LOGIN / REGISTER ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~~~~~~ ~~~~~~~~~~ */
.formularWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formularContainer {
  max-width: 600px;
  width: 500px;
  padding: 1.25rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow-card);
  border-radius: var(--box-card-radius);
}

.formularContainer span.switchRegistration {
  color: var(--darkFont);
  font-size: var(--small_Font);
  margin-top: 1rem;
  display: inline-block;
}

.formularContainer span.switchRegistration a {
  color: var(--normalBlue);
  font-family: var(--poppinsSemiBold);
}

.formularContainer > h2 {
  color: var(--darkFont);
  font-size: var(--x-large_Font);
  text-align: center;
  display: block;
  margin-bottom: 0.75rem;
}

.authFormular {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authFormular .formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authFormular .formField .errorMessage {
  background-color: rgba(206, 39, 33, 0.25);
  display: block;
  padding: 0.2rem 0.45rem;
  border-radius: 0.15rem;
  color: var(--error-msg);
  font-size: var(--small_Font);
}

.authFormular .formField .errorMessage::before {
  content: "⚠ ";
}

.authFormular .formField > input {
  color: var(--darkFont);
  font-family: var(--poppinsRegular);
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  font-size: var(--regular_Font);
  padding: 0.45rem 0.75rem;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 0.25s ease;
}

.authFormular .formField > input:focus {
  box-shadow: 0px 0px 0.1px 3.5px var(--input-shadow-color);
}

.authFormular > button[type="submit"] {
  margin-top: 0.75rem;
  background-color: var(--normalBlue);
  border: none;
  outline: none;
  color: var(--lightFont);
  font-size: var(--medium_Font);
  padding: 0.45rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.25s ease;
}

.authFormular > button[type="submit"]:hover:active {
  background-color: var(--darkBlue);
}

/* ~~~~~~~~~~ ~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ NOTES ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~ ~~~~~~~~~~ */
.notesWrapper {
  --box-shadow-mode: 3px 4px 12px -1px rgba(255, 255, 255, 0.2);

  --whiteboard-dark-bg: rgba(40, 44, 52, 1); /* Whiteboard dark Mode */
  --whiteboard-light-bg: rgba(245, 245, 245, 1); /* Whiteboard light Mode */

  --square-color-dark-mode: rgba(125, 125, 125, 0.1); /* Whiteboard dark Mode */
  --square-color-light-mode: rgba(25, 25, 25, 0.1); /* Whiteboard light Mode */
  --square-size: 25px;

  width: 100%;
  min-height: 100vh;
  background-color: var(--whiteboard-dark-bg);
  position: relative;

  background-position: center;
  background-size: var(--square-size) var(--square-size); /* Square Size */
}

/* WHITEBOARD DARK MODE */
.notesWrapper[data-mode="dark"] {
  background-color: var(--whiteboard-dark-bg);
  background-image: linear-gradient(
      to right,
      var(--square-color-dark-mode) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--square-color-dark-mode) 1px,
      transparent 1px
    );
}

/* WHITEBOARD LIGHT MODE */
.notesWrapper[data-mode="light"] {
  background-color: var(--whiteboard-light-bg);
  background-image: linear-gradient(
      to right,
      var(--square-color-light-mode) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--square-color-light-mode) 1px,
      transparent 1px
    );
}

.notesWrapper[data-mode="dark"] {
  --box-shadow-mode: 3px 4px 12px -1px rgba(255, 255, 255, 0.2);
}

.notesWrapper[data-mode="light"] {
  --box-shadow-mode: 3px 4px 12px -1px rgba(0, 0, 0, 0.25);
}

.notesWrapper.noSquares {
  background-image: none !important;
}

/* NOTES SIDEBAR CONTAINER */
.notesWrapper .notesSidebar {
  --sidebar-bg-dark-mode: var(--white);
  --sidebar-bg-light-mode: var(--darkgrey);

  position: absolute;
  z-index: 999;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: var(--box-shadow-mode);
  border-radius: 5px;
  padding: 1rem 0.65rem;

  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.notesWrapper[data-mode="dark"] .notesSidebar {
  background-color: var(--sidebar-bg-dark-mode);
}

.notesWrapper[data-mode="light"] .notesSidebar {
  background-color: var(--sidebar-bg-light-mode);
}

/* HEADER */
.notesWrapper .notesSidebar .notesSidebarHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.55rem;
}

.notesWrapper .notesSidebar .notesSidebarHeader :where(a, button) {
  color: var(--darkFont);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.25s ease;
}

.notesWrapper .notesSidebar .notesSidebarHeader :where(a, button):hover {
  color: var(--normalBlue);
}

.notesWrapper .notesSidebar .notesSidebarHeader :where(a, button) svg {
  font-family: var(--poppinsSemiBold);
  font-size: var(--large_Font);
}

.notesWrapper[data-mode="dark"] .notesSidebarHeader :where(a, button) {
  color: var(--darkFont);
}

.notesWrapper[data-mode="light"] .notesSidebarHeader :where(a, button) {
  color: var(--lightFont);
}

/* BODY */
.notesWrapper .notesSidebar .notesSidebarBody {
  display: flex;
}

.notesWrapper .notesSidebar .notesSidebarBody .colorsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.notesSidebar .appendColorContainer {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.notesSidebar .createdColorsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notesSidebar .colorsContainer .colorButton {
  --button-diameter: 30px;

  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: var(--button-diameter);
  height: var(--button-diameter);
  box-shadow: none;
  position: relative;

  transition: border 0.25s ease;
}

.notesSidebar .colorButton .colorButtonContext {
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%);
  padding: 0.35rem 0.75rem;
  border-radius: 4px;
  font-size: var(--large_Font);
  font-family: var(--poppinsSemiBold);
  cursor: default;

  display: flex;
  gap: 0.45rem;
  align-items: center;
}

.notesSidebar .colorButton .colorButtonContext svg {
  cursor: pointer;
}

.notesSidebar .colorButton .colorButtonContext[data-is_opened="false"] {
  display: none;
}

.notesSidebar .colorButton .colorButtonContext[data-is_opened="true"] {
  display: flex;
}

.notesWrapper[data-mode="light"]
  .notesSidebar
  .colorButton
  .colorButtonContext {
  box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.2);
  background-color: var(--sidebar-bg-light-mode);
}

.notesWrapper[data-mode="dark"] .notesSidebar .colorButton .colorButtonContext {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
  background-color: var(--sidebar-bg-dark-mode);
}

.notesSidebar .colorButton#addNoteColorButton {
  width: 27px;
  height: 27px;
  border-radius: 0;
  background-color: transparent;
}

.notesWrapper[data-mode="dark"] .notesSidebar .colorButton#addNoteColorButton {
  border-color: var(--darkFont) !important;
  fill: var(--darkFont);
}

.notesWrapper[data-mode="light"] .notesSidebar .colorButton#addNoteColorButton {
  border-color: var(--lightFont) !important;
  fill: var(--lightFont);
}

.notesWrapper[data-mode="dark"] .notesSidebar .colorButton {
  color: var(--darkFont);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
}

.notesWrapper[data-mode="light"] .notesSidebar .colorButton {
  color: var(--lightFont);
  box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

.notesWrapper .notesSidebar .colorButton:not(#addNoteColorButton):hover {
  border-color: var(--input-shadow-color) !important;
}

.colorsContainer .appendColorButtonContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.colorsContainer .appendColorButtonContainer input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 28px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.colorsContainer
  .appendColorButtonContainer
  input[type="color"]::-webkit-color-swatch {
  border-radius: 3px;
  box-shadow: var(--box-shadow-mode);
  border: 3px solid transparent;
  transition: border 0.25s ease;
}

.colorsContainer
  .appendColorButtonContainer
  input[type="color"]:hover::-webkit-color-swatch,
.colorsContainer
  .appendColorButtonContainer
  input[type="color"]:focus::-webkit-color-swatch {
  border: 3px solid var(--input-shadow-color);
}

/* NOTES WHITEBOARD CONTAINER */
.notesWrapper .notesWhiteboard {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* NOTE CARD ON WHITEBOARD */
.notesWrapper .notesWhiteboard .noteCard {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  border-radius: 8px;
  box-shadow: var(--box-shadow-mode);
  min-width: 325px;
  resize: both;
}

.notesWrapper .notesWhiteboard .noteCard:active {
  cursor: grab !important;
}

/* NOTE CARD CONTEXT MENU */
.noteCardContextMenu {
  --context-bg-dark-mode: var(--white);
  --context-bg-light-mode: var(--darkgrey);

  position: absolute;
  right: 0;
  bottom: calc(100% + 5px);
  /* background-color: var(--lightgrey); */
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.45rem 0.75rem;
  box-shadow: var(--box-shadow-mode);
  border-radius: 6px;
  cursor: default;

  transform-origin: right center;
  animation: contextPopUpAnim 0.25s ease-in-out;
}

.notesWrapper[data-mode="dark"] .noteCardContextMenu {
  background-color: var(--context-bg-dark-mode);
}
.notesWrapper[data-mode="light"] .noteCardContextMenu {
  background-color: var(--context-bg-light-mode);
}

@keyframes contextPopUpAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.noteCardContextMenu .noteCardContextColor {
  --color-diameter: 20px;

  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  width: var(--color-diameter);
  height: var(--color-diameter);
  box-shadow: var(--box-shadow-mode);
}

/* CARD HEADER */
.notesWrapper .notesWhiteboard .noteCard .noteCardHeader {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
}

.notesWrapper .notesWhiteboard .noteCard .noteCardHeader > div {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
  font-size: var(--large_Font);
  font-family: var(--poppinsSemiBold);
}

.notesWhiteboard .noteCard .noteCardHeader div.cardHeaderOptions svg {
  cursor: pointer;
}

.notesWhiteboard .noteCard .noteCardHeader div.cardHeaderOptions svg path {
  transition: all 0.25s ease;
}

.notesWhiteboard
  .noteCard
  .noteCardHeader
  div.cardHeaderOptions
  svg.deleteNoteButton:hover
  path {
  fill: var(--error-msg);
}

.notesWhiteboard
  .noteCard
  .noteCardHeader
  div.cardHeaderOptions
  svg.themeNoteButton:hover
  path {
  fill: var(--lightBlue);
}

.notesWhiteboard .noteCard .noteCardHeader > div > div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.notesWhiteboard .noteCard .noteCardHeader h2 {
  font-size: var(--large_Font);
}

.notesWhiteboard .noteCard .noteCardHeader h2 > input {
  font-size: var(--large_Font);
  border: none;
  outline: none;
  background-color: transparent;
  width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CARD BODY */
.notesWhiteboard .noteCard .noteCardBody {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.5rem 0.75rem;
}

.notesWhiteboard .noteCard .noteCardBody > textarea {
  border: none;
  outline: none;
  font-family: var(--poppinsRegular);
  background-color: transparent;
  resize: none;
  width: 100%;
  min-height: 125px;
  overflow-y: auto;
  padding-right: 0.4rem;
}

.notesWhiteboard .noteCard .noteCardBody > textarea::-webkit-scrollbar-track {
  border-radius: 10px;
}

.notesWhiteboard .noteCard .noteCardBody > textarea::-webkit-scrollbar {
  width: 4px;
}

.notesWhiteboard .noteCard .noteCardBody > textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.5);
  cursor: default;
}

/* CARD FOOTER */
.notesWhiteboard .noteCard .noteCardFooter {
  padding: 0.25rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(225, 225, 225, 0.2);
}

.notesWhiteboard .noteCard .noteCardFooter small {
  font-family: var(--poppinsLight);
  font-size: var(--smaller_Font);
  opacity: 0.75;
}

/* WHITEBOARD OPTIONS CONTAINER */
.whiteboardOptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* ~~~~~~~~~~ ~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ MODE TOGGLE ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~ ~~~~~~~~~~ */
.modeToggle {
  position: absolute;
  z-index: 999;
  top: 1.25rem;
  right: 1.25rem;
}

.modeToggle > label {
  --toggle-width: 40px;
  --toggle-height: 40px;

  cursor: pointer;
  background-color: var(--darkgrey);
  box-shadow: var(--box-shadow-mode);
  height: var(--toggle-height);
  width: var(--toggle-width);
  font-size: var(--large_Font);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  transition: all 0.35s ease;
}

.modeToggle > label.light {
  background-color: var(--darkgrey);
  color: var(--lightFont);
}

.modeToggle > label.dark {
  background-color: var(--white);
  color: var(--darkFont);
}

.modeToggle > label.dark svg {
  animation: modeToggleSvgGrowDark 0.35s ease;
}

.modeToggle > label.light svg {
  animation: modeToggleSvgGrowLight 0.35s ease;
}

@keyframes modeToggleSvgGrowDark {
  from {
    transform: scale(0) rotate(125deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes modeToggleSvgGrowLight {
  from {
    transform: scale(0) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

.modeToggle > input[type="checkbox"] {
  display: none;
}

/* ~~~~~~~~~~ ~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ HomePage ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~ ~~~~~~~~~~ */
.headerContainer {
  width: 100%;
  display: flex;
  height: 80vh;
  padding: 1.5rem;
}

/* HEADER COL LEFT */
.headerContainer .headerColLeft {
  flex-basis: 55%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer .headerColLeft .headerTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  max-width: 80%;
}

.headerContainer .headerColLeft .headerTextContainer > h1 {
  line-height: 30px;
  margin-bottom: 0.75rem;
  font-family: var(--poppinsBlack);
  word-spacing: 4px;
  font-size: var(--xx-large_Font);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: fit-content;
}

.headerContainer .headerColLeft .headerTextContainer > h1::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 25px;
  width: 100%;
  height: 100%;
  background-color: var(--input-shadow-color);
  z-index: -1;
  filter: blur(6px);
}

/* HEADER COL RIGHT */
.headerContainer .headerColRight {
  flex-basis: 45%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.headerContainer .headerColRight > img {
  max-height: 475px;
}

.headerContainer .headerColRight::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 20%;
  left: 28%;
  width: 200px;
  height: 175px;
  filter: blur(35px);
  background: radial-gradient(rgba(34, 154, 223, 0.5) 45%, transparent 70%)
    no-repeat;
}

/* ~~~~~~~~~~ ~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ HomePage ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~ ~~~~~~~~~~ */

/* HTML CHECKBOX */
.htmlCheckbox {
  --checkbox-diameter: 22px;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 300ms;
  box-shadow: var(--box-shadow-mode);
  cursor: pointer;
}

.htmlCheckbox::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: none;
  background-color: transparent;
  background-size: contain;
  box-shadow: var(--box-shadow-mode);
}

.htmlCheckbox:checked {
  background-color: var(--normalBlue);
}

.htmlCheckbox:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* HTML RANGE */
.htmlRange {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  background-color: transparent;
}

.htmlRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 10px;
  background: var(--normalBlue);
  box-shadow: var(--box-shadow-mode);
}

.htmlRange::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 10px;
  background: var(--normalBlue);
  box-shadow: var(--box-shadow-mode);
}

.htmlRange::-ms-track {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 10px;
  background: var(--normalBlue);
  box-shadow: var(--box-shadow-mode);
}

.htmlRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--normalBlue);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: var(--normalBlue)
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: var(--box-shadow-mode);
  cursor: pointer;
}

.htmlRange::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--normalBlue);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: var(--normalBlue)
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: var(--box-shadow-mode);
  cursor: pointer;
}

.htmlRange::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--normalBlue);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: var(--normalBlue)
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: var(--box-shadow-mode);
  cursor: pointer;
}

/* ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ WHITEBOARD DROPDOWN ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~ ~~~~~~~~~~ */
.whiteBoardDropdown {
  position: absolute;
  z-index: 999;
  background-color: var(--white);
  box-shadow: var(--box-shadow-mode);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.whiteBoardDropdown.opened {
  padding: 0.65rem;
  border-radius: 8px;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
}

.whiteBoardDropdown:not(.opened) .whiteBoardDropdownChildrenContainer {
  display: none;
}

.notesWrapper[data-mode="light"] .whiteBoardDropdown {
  background-color: var(--darkgrey);
  color: var(--lightFont);
}

.notesWrapper[data-mode="dark"] .whiteBoardDropdown {
  background-color: var(--white);
  color: var(--darkFont);
}

.whiteBoardDropdown .whiteBoardDropdownIconContainer {
  font-size: var(--large_Font);
  cursor: pointer;
}

/* ~~~~~~~~~~ ~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ NOT FOUND ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~ ~~~~~~~~~~ */
.notFoundContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notFoundContainer > h1 {
  font-size: 125px;
  font-family: var(--poppinsBlack);
  background: url(../images/weltraum.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 180px;
}

.notFoundContainer > h3 {
  text-transform: uppercase;
  font-family: var(--poppinsSemiBold);
  font-size: var(--larger_Font);
  color: var(--darkFont);
}

.notFoundContainer > p {
  font-size: var(--regular_Font);
  color: var(--darkFont);
  opacity: 0.9;
  max-width: 550px;
  text-align: center;
  margin: 0.75rem 0;
}

.notFoundContainer > a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--normalBlue);
  border-radius: 20rem;
  padding: 0.55rem 1rem;
  cursor: pointer;
  font-size: var(--regular_Font);
  text-transform: uppercase;
  transition: 0.25s ease;

  &:hover {
    background-color: var(--darkBlue);
  }
}

/* ~~~~~~~~~~ ~~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ CARD SECTION ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~~ ~~~~~~~~~~ */
.toolCardsWrapper {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toolCardsWrapper .toolCardsHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
}

.toolCardsWrapper .toolCardsContainer {
  margin-top: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 1)
  .toolCardIcon {
  background-color: rgba(97, 161, 251, 0.15);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 2)
  .toolCardIcon {
  background-color: rgba(238, 97, 251, 0.15);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 3)
  .toolCardIcon {
  background-color: rgba(251, 202, 97, 0.15);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 4)
  .toolCardIcon {
  background-color: rgba(97, 251, 130, 0.15);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 1)
  .toolCardIcon
  > svg {
  fill: rgb(85, 141, 219);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 2)
  .toolCardIcon
  > svg {
  fill: rgb(201, 81, 212);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 3)
  .toolCardIcon
  > svg {
  fill: rgb(211, 170, 82);
}
.toolCardsWrapper
  .toolCardsContainer
  .toolCard:nth-child(4n + 4)
  .toolCardIcon
  > svg {
  fill: rgb(81, 206, 108);
}

.toolCardsWrapper .toolCardsContainer .toolCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem;
  box-shadow: var(--box-shadow-card);
  background-color: var(--white);
  border-radius: 8px;
  width: 300px;
  min-height: 325px;
}

.toolCardsWrapper .toolCardsContainer .toolCard > .toolCardIcon {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.toolCardsWrapper .toolCardsContainer .toolCard > .toolCardIcon > svg {
  width: 35px;
  height: 35px;
}

.toolCardsWrapper .toolCardsContainer .toolCard > h2 {
  color: var(--darkFont);
  font-size: var(--large_Font);
}

.toolCardsWrapper .toolCardsContainer .toolCard > p {
  text-align: center;
  color: rgba(19, 21, 26, 0.75);
  font-size: var(--small_Font);
}

/* ~~~~~~~~~~ ~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~ ~~~~~~~~~~ */
.footer {
  margin-top: 1.75rem;
  width: 100%;
  padding: 1.5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.footer .footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  text-decoration: none;
  color: var(--darkBlue);
}

.footer .footerLogo span {
  font-size: var(--small_Font);
  font-family: var(--poppinsSemiBold);
}

.footer .footerLogo > img {
  height: 27px;
  width: 27px;
}

.footer .footerLinksList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.footer .footerLinksList a {
  text-decoration: none;
  color: var(--darkBlue);
  font-size: var(--smaller_Font);

  &:hover {
    text-decoration: underline;
  }
}
