/* ~~~~~~~~~~ ~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ FONT FAMILY ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~ ~~~~~~~~~~ */
@font-face {
  font-family: "poppinsLight";
  src: url(../font/Poppins/Poppins-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "poppinsRegular";
  src: url(../font/Poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "poppinsSemiBold";
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "poppinsBold";
  src: url(../font/Poppins/Poppins-Bold.ttf);
  font-style: normal;
}

/* ~~~~~~~~~~ ~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ ALLGEMEIN ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~ ~~~~~~~~~~ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body,
#root,
.wrapper,
.mainContainer {
  height: 100%;
}

body {
  font-family: var(--poppinsRegular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--lightgrey);
  color: var(--darkFont);
}

h1,
h2 {
  font-family: var(--poppinsBold);
}

h3,
h4 {
  font-family: var(--poppinsSemiBold);
}

small {
  font-family: var(--poppinsLight);
}

img {
  user-select: none;
}

button {
  font-family: var(--poppinsRegular);
}

input::placeholder {
  font-size: 16px;
}

:root {
  /* ~~~~~ COLOR (VARIABLEN) ~~~~~ */
  /* ~~~ DEFAULT ~~~ */
  --white: #fff;
  --black: #000;
  --darkgrey: #282c34;
  --lightgrey: #edeff1;
  /* ~~~ MAIN ~~~ */
  --lightBlue: #61a1fb;
  --normalBlue: #3171cc;
  --darkBlue: #0d2e5e;
  /* ~~~ MESSAGE ~~~ */
  --error-msg: rgba(206, 39, 33, 0.9);
  /* WEITERE */
  --input-shadow-color: rgba(34, 154, 223, 0.8);

  /* ~~~~~ TYPOGRAPHY (VARIABLEN) ~~~~~ */
  /* ~~~ FONT SIZE ~~~ */
  --xx-small_Font: 10px;
  --x-small_Font: 12px;
  --smaller_Font: 14px;
  --small_Font: 15px;

  --regular_Font: 16.5px;

  --medium_Font: 17.5px;

  --large_Font: 19px;
  --larger_Font: 24px;
  --x-large_Font: 32px;
  --xx-large_Font: 38px;

  /* ~~~ FONT COLOR ~~~ */
  --darkFont: #13151a;
  --lightFont: #f1f5fc;

  /* ~~~ FONT FAMILY ~~~ */
  --poppinsLight: "poppinsLight";
  --poppinsRegular: "poppinsRegular";
  --poppinsSemiBold: "poppinsSemiBold";
  --poppinsBold: "poppinsBold";

  /* ~~~~~ SHADOWS ~~~~~ */
  /* ~~~~~ BOX ~~~~~ */
  --box-shadow-card: 3px 4px 12px -1px rgba(0, 0, 0, 0.15);
  --box-shadow-normal: 2px 3px 10px -1px rgba(0, 0, 0, 0.1);
  /* ~~~~~ TEXT ~~~~~ */

  /* ~~~~~ BORDER RADIUS ~~~~~ */
  --box-card-radius: 12px;
}

/* ~~~~~~~~~~ ~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ HEADER ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~ ~~~~~~~~~~ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  height: 4rem;
  box-shadow: var(--box-shadow-normal);
}

.header > .headerLogo {
  text-decoration: none;
  color: var(--darkBlue);
}

.header .headerNav {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: flex-end;
}

.header .headerNav a {
  font-size: var(--regular_Font);
  text-decoration: none;
  font-weight: 500;
  color: var(--darkFont);
  position: relative;
  padding: 0px 0.125rem;
  transition: all 0.25s ease;
}

.header .headerNav a.active {
  color: var(--normalBlue);
}

.header .headerNav a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--normalBlue);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease;
}

.header .headerNav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header .headerNav button {
  font-weight: 500;
  color: var(--lightFont);
  position: relative;
  z-index: 1;
  padding: 0.25rem 0.6rem;
  border: none;
  outline: none;
  font-size: var(--regular_Font);
  cursor: pointer;

  position: relative;
}

.header .headerNav button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  transform: translate(0px, 0px);
  border: 1.75px solid transparent;
  transition: transform 0.25s ease, border 0.25s ease;
}

.header .headerNav button:hover::after {
  transform: translate(-4px, -4px);
  border-color: var(--darkBlue);
}

.header .headerNav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: none;
  background-color: var(--normalBlue);
  transition: box-shadow 0.25s ease;
}

.header .headerNav button:hover::before {
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5), 5px 5px 0px var(--white);
}

/* ~~~~~~~~~~ ~~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ PRIVATE ROTE ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~~ ~~~~~~~~~~ */
.privateRouteContainer {
  padding: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privateRouteContainer > div {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.privateRouteContainer h2 {
  color: var(--darkFont);
  font-size: var(--x-large_Font);
}

.privateRouteContainer span {
  color: var(--darkFont);
  font-size: var(--medium_Font);
}

.privateRouteContainer a {
  color: var(--normalBlue);
  font-size: var(--medium_Font);
  font-family: var(--poppinsSemiBold);
}

/* ~~~~~~~~~~ ~~~~~~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ LOGIN / REGISTER ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~~~~~~ ~~~~~~~~~~ */
.formularWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formularContainer {
  max-width: 600px;
  width: 500px;
  padding: 1.25rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow-card);
  border-radius: var(--box-card-radius);
}

.formularContainer span.switchRegistration {
  color: var(--darkFont);
  font-size: var(--small_Font);
  margin-top: 1rem;
  display: inline-block;
}

.formularContainer span.switchRegistration a {
  color: var(--normalBlue);
  font-family: var(--poppinsSemiBold);
}

.formularContainer > h2 {
  color: var(--darkFont);
  font-size: var(--x-large_Font);
  text-align: center;
  display: block;
  margin-bottom: 0.75rem;
}

.authFormular {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authFormular .formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authFormular .formField .errorMessage {
  background-color: rgba(206, 39, 33, 0.25);
  display: block;
  padding: 0.2rem 0.45rem;
  border-radius: 0.15rem;
  color: var(--error-msg);
  font-size: var(--small_Font);
}

.authFormular .formField .errorMessage::before {
  content: "⚠ ";
}

.authFormular .formField > input {
  color: var(--darkFont);
  font-family: var(--poppinsRegular);
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  font-size: var(--regular_Font);
  padding: 0.45rem 0.75rem;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 0.25s ease;
}

.authFormular .formField > input:focus {
  box-shadow: 0px 0px 0.1px 3.5px var(--input-shadow-color);
}

.authFormular > button[type="submit"] {
  margin-top: 0.75rem;
  background-color: var(--normalBlue);
  border: none;
  outline: none;
  color: var(--lightFont);
  font-size: var(--medium_Font);
  padding: 0.45rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.25s ease;
}

.authFormular > button[type="submit"]:hover:active {
  background-color: var(--darkBlue);
}

/* ~~~~~~~~~~ ~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ NOTES ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~ ~~~~~~~~~~ */
.notesWrapper {
  --box-shadow-mode: 3px 4px 12px -1px rgba(255, 255, 255, 0.2);

  --whiteboard-dark-bg: rgba(40, 44, 52, 1); /* Whiteboard dark Mode */
  --whiteboard-light-bg: rgba(245, 245, 245, 1); /* Whiteboard light Mode */

  --square-color-dark-mode: rgba(125, 125, 125, 0.1); /* Whiteboard dark Mode */
  --square-color-light-mode: rgba(25, 25, 25, 0.1); /* Whiteboard light Mode */
  --square-size: 25px;

  width: 100%;
  height: 100%;
  background-color: var(--whiteboard-dark-bg);
  position: relative;

  background-size: var(--square-size) var(--square-size); /* Square Size */
}

/* WHITEBOARD DARK MODE */
.notesWrapper[data-mode="dark"] {
  background-color: var(--whiteboard-dark-bg);
  background-image: linear-gradient(
      to right,
      var(--square-color-dark-mode) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--square-color-dark-mode) 1px,
      transparent 1px
    );
}

/* WHITEBOARD LIGHT MODE */
.notesWrapper[data-mode="light"] {
  background-color: var(--whiteboard-light-bg);
  background-image: linear-gradient(
      to right,
      var(--square-color-light-mode) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--square-color-light-mode) 1px,
      transparent 1px
    );
}

.notesWrapper[data-mode="dark"] {
  --box-shadow-mode: 3px 4px 12px -1px rgba(255, 255, 255, 0.2);
}

.notesWrapper[data-mode="light"] {
  --box-shadow-mode: 3px 4px 12px -1px rgba(0, 0, 0, 0.25);
}

/* NOTES SIDEBAR CONTAINER */
.notesWrapper .notesSidebar {
  --sidebar-bg-dark-mode: var(--white);
  --sidebar-bg-light-mode: var(--darkgrey);

  position: absolute;
  z-index: 999;
  left: 0.45rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: var(--box-shadow-mode);
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

.notesWrapper[data-mode="dark"] .notesSidebar {
  background-color: var(--sidebar-bg-dark-mode);
}

.notesWrapper[data-mode="light"] .notesSidebar {
  background-color: var(--sidebar-bg-light-mode);
}

/* HEADER */
.notesWrapper .notesSidebar .notesSidebarHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.15rem;
}

.notesWrapper .notesSidebar .notesSidebarHeader a {
  color: var(--darkFont);
  transition: color 0.25s ease;
}

.notesWrapper .notesSidebar .notesSidebarHeader a:hover {
  color: var(--normalBlue);
}

.notesWrapper[data-mode="dark"] .notesSidebarHeader a {
  color: var(--darkFont);
}

.notesWrapper[data-mode="light"] .notesSidebarHeader a {
  color: var(--lightFont);
}

/* BODY */
.notesWrapper .notesSidebar .notesSidebarBody {
  display: flex;
}

.notesWrapper .notesSidebar .notesSidebarBody .colorsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.notesWrapper .notesSidebar .notesSidebarBody .colorsContainer .colorButton {
  --button-diameter: 35px;

  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: var(--button-diameter);
  height: var(--button-diameter);
  box-shadow: none;

  transition: border 0.25s ease;
}

.notesWrapper[data-mode="dark"]
  .notesSidebar
  .notesSidebarBody
  .colorsContainer
  .colorButton {
  color: var(--darkFont);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
}

.notesWrapper[data-mode="light"]
  .notesSidebar
  .notesSidebarBody
  .colorsContainer
  .colorButton {
  color: var(--lightFont);
  box-shadow: 1px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

.notesWrapper
  .notesSidebar
  .notesSidebarBody
  .colorsContainer
  .colorButton:hover {
  border-color: var(--input-shadow-color) !important;
}

.colorsContainer .appendColorButtonContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.colorsContainer .appendColorButtonContainer input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 36px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.colorsContainer
  .appendColorButtonContainer
  input[type="color"]::-webkit-color-swatch {
  border-radius: 100%;
  border: none;
  /* border-style: dashed;
  border-width: 2px; */
}

/* NOTES WHITEBOARD CONTAINER */
.notesWrapper .notesWhiteboard {
  position: relative;
  z-index: 0;
}

/* NOTE CARD ON WHITEBOARD */
.notesWrapper .notesWhiteboard .noteCard {
  position: absolute;
  border-radius: 8px;
  box-shadow: var(--box-shadow-mode);
  max-width: 300px;
}

/* CARD HEADER */
.notesWrapper .notesWhiteboard .noteCard .noteCardHeader {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
}

.notesWrapper .notesWhiteboard .noteCard .noteCardHeader > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--large_Font);
  font-family: var(--poppinsSemiBold);
}

.notesWrapper .notesWhiteboard .noteCard .noteCardHeader > div > svg {
  cursor: pointer;
}

.notesWrapper .notesWhiteboard .noteCard .noteCardHeader > div > svg path {
  transition: all 0.25s ease;
}

.notesWrapper
  .notesWhiteboard
  .noteCard
  .noteCardHeader
  > div
  > svg:hover
  path {
  fill: var(--error-msg);
}

.notesWrapper .notesWhiteboard .noteCard .noteCardHeader > div > div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.notesWrapper .notesWhiteboard .noteCard .noteCardHeader h2 {
  font-size: var(--large_Font);
}

/* CARD BODY */
.notesWrapper .notesWhiteboard .noteCard .noteCardBody {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.5rem 0.75rem;
}

/* CARD FOOTER */
.notesWrapper .notesWhiteboard .noteCard .noteCardFooter {
  padding: 0.25rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(225, 225, 225, 0.2);
}

.notesWrapper .notesWhiteboard .noteCard .noteCardFooter small {
  font-family: var(--poppinsLight);
  font-size: var(--smaller_Font);
  opacity: 0.75;
}

/* ~~~~~~~~~~ ~~~~~~~~~~~ ~~~~~~~~~~ */
/* ~~~~~~~~~~ MODE TOGGLE ~~~~~~~~~~ */
/* ~~~~~~~~~~ ~~~~~~~~~~~ ~~~~~~~~~~ */
.modeToggle {
  position: absolute;
  z-index: 999;
  top: 1.25rem;
  right: 1.25rem;
}

.modeToggle > label {
  --toggle-width: 30px;
  --toggle-height: 30px;

  cursor: pointer;
  background-color: var(--darkgrey);
  box-shadow: var(--box-shadow-mode);
  height: var(--toggle-height);
  width: var(--toggle-width);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  transition: all 0.35s ease;
}

.modeToggle > label.light {
  background-color: var(--darkgrey);
  color: var(--lightFont);
}

.modeToggle > label.dark {
  background-color: var(--white);
  color: var(--darkFont);
}

.modeToggle > label.dark svg {
  animation: modeToggleSvgGrowDark 0.35s ease;
}

.modeToggle > label.light svg {
  animation: modeToggleSvgGrowLight 0.35s ease;
}

@keyframes modeToggleSvgGrowDark {
  from {
    transform: scale(0) rotate(125deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes modeToggleSvgGrowLight {
  from {
    transform: scale(0) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

.modeToggle > input[type="checkbox"] {
  display: none;
}
